@model AdminPageMVC.Entities.Test

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("Edit", "Tests")" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Variants" class="control-label"></label>
                <input asp-for="Variants" class="form-control" />
                <span asp-validation-for="Variants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightVariant" class="control-label"></label>
                <input asp-for="RightVariant" class="form-control" />
                <span asp-validation-for="RightVariant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<table class="user-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Options</th>
            <th>Right Option</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <form action="@Url.Action("Edit", "Test")" method="post">
                <td>
                    <span>@test.Id</span>
                </td>
                <td>
                    <span class="view-mode">@test.Question</span>
                    <input type="text" class="edit-mode hide" name="question" value="@test.Question" />
                    <input type="hidden" name="id" value="@test.Id" />
                </td>
                <td>
                    <ul>
                        @foreach (var option in test.Options)
                        {
                            <span class="view-mode">@option</span>
                            <input type="text" class="edit-mode hide" name="option" value="@option" />

                        }
                    </ul>

                </td>
                <td>
                    <span class="view-mode">@test.RightOption</span>
                    <input type="text" class="edit-mode hide" name="description" value="@test.RightOption" />
                </td>
                <td>
                    <a class="btn-update">Update</a>
                    <button class="btn-confirm hide" asp-controller="Tests" asp-action="Edit" type="submit">Confirm</button>
                    <button class="btn-delete" asp-controller="Tests" asp-action="Delete" type="submit">Delete</button>
                    <a class="btn-cancel hide">Cancel</a>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>*@


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
