@model AdminPageMVC.Entities.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit Teacher Information</h2>

<form action="@Url.Action("Edit", "Courses")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    <div>
        <input class="input" type="text" id="Name" name="imageUrl" placeholder="ImageUrl" value="@Model.ImageUrl" required />
    </div>

    <div>
        <input class="input" type="text" id="ImgUrl" name="price" placeholder="Price" value="@Model.Price" required />
    </div>

    <div>
        <input class="input" type="text" id="Type" name="description" placeholder="Description" value="@Model.Description" required />
    </div>

    <div>
        <button type="submit" style="margin-top:20px" class="confirm">Update</button>
    </div>
</form>

@*<h1>Edit</h1>

    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*@
    {
    GetByIdCourse
    }
    @*@